@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #678383;
}

.kategorier {
    font-size: 7rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.link1info {
    margin-top: 50%;
}

.imgdiv img {
    width: 100%;
    float: right;
}

.info h1 {
    font-size: 15rem;
}

.imginfo {
    display: flex;
}

.div-overskrift {
    font-size: 3rem;
    display: flex;
    margin: 3px;
}


header button {
    background-color: #837A74; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1,5rem;
}

.link1 button {
    background-color: #837A74; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1,5rem;
}

#hovedsiden {
    color: #D0CECD;
    font-family: arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    
}

header {
    top: 20px;
}
p {
    font-family: "Roboto", sans-serif;
    color: #0D0D0D;
    font-size: 2rem;
}
/* Color Theme Swatches in Hex */
.Web-Portfolio-Cold-1-hex { color: #837A74; }
.Web-Portfolio-Cold-2-hex { color: #FFFFFF; }
.Web-Portfolio-Cold-3-hex { color: #D0CECD; }
.Web-Portfolio-Cold-4-hex { color: #678383; }
.Web-Portfolio-Cold-5-hex { color: #CDD0D0; }


.w{color: #D9AC25;}
.ww {color: #F2F2F2;}
.www {color: #BFBFBF;}
.wwww {color: #595959;}
.wwwww {color: #0D0D0D;} 