@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #678383;
}

.kategorier {
    font-size: 5rem;
    align-items: center;
    justify-content: center;
   display: flex;
}

.link1info {
    margin-top: 50%;
}

.imgdiv img {
    width: 100%;
    float: right;
}

.imginfo {
    display: flex;
}

.div-overskrift {
    font-size: 4rem;
}

button {
    background-color: transparent;
    appearance: none;
    border: none;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    font-size: 2rem ;
    font-family: "Roboto", sans-serif;
    font-weight: bold ;
}
header button {
    background-color:#F2F2F2;
    color: #595959;
    border: dashed rgb(255, 0, 0);
    border-radius: 25% 10%;
}

header {
    top: 20px;
}
p {
    font-family: "Roboto", sans-serif;
    color: #0D0D0D;
    font-size: 2rem;
}
/* Color Theme Swatches in Hex */
.Web-Portfolio-Cold-1-hex { color: #837A74; }
.Web-Portfolio-Cold-2-hex { color: #FFFFFF; }
.Web-Portfolio-Cold-3-hex { color: #D0CECD; }
.Web-Portfolio-Cold-4-hex { color: #678383; }
.Web-Portfolio-Cold-5-hex { color: #CDD0D0; }


.w{color: #D9AC25;}
.ww {color: #F2F2F2;}
.www {color: #BFBFBF;}
.wwww {color: #595959;}
.wwwww {color: #0D0D0D;} 